.main-pane {
    -fx-background-color: #EAF0F6;
}

.app-title {
    -fx-font-family: 'Doppio One';
    -fx-font-size: 27px;
    -fx-font-weight: 400;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}

.menu {
    -fx-background-color: #3B758C;
    -fx-pref-width: 290;
}

.menu-item {
    -fx-font-size: 27px;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
}

.heading-label {
    -fx-font-size: 22px; /* Define o tamanho da fonte para o rótulo */
    -fx-font-weight: bold; /* Define a fonte em negrito */
    -fx-text-fill: #333333; /* Define a cor do texto, neste caso, um tom de cinza */
}

.clientesButton {
    -fx-position: absolute;
    -fx-width: 250px;
    -fx-height: 47px;
    -fx-left: 377px;
    -fx-top: 94px;
    -fx-background-color: #13526B;
    -fx-border-radius: 3px;
    -fx-font-family: 'Doppio One';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 15px;
    -fx-line-height: 19px;
    -fx-display: flex;
    -fx-align-items: center;
    -fx-text-align: center;
    -fx-text-transform: capitalize;
    -fx-text-fill: #FFFFFF;
}

.headerCadastro {
    -fx-font-family: 'Doppio One';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 20px;
    -fx-line-height: 25px;
    -fx-text-transform: capitalize;
    -fx-text-fill: #FFFFFF;
}

.labelNomeCompleto {


    -fx-font-family: 'Doppio One';
        -fx-font-style: normal;
        -fx-font-weight: 400;
        -fx-font-size: 15px;
        -fx-text-fill: #000000;
        -fx-text-transform: capitalize;
        -fx-alignment: CENTER_LEFT;
        -fx-text-alignment: LEFT;
        -fx-padding: 0;

}

.botao-redondo {
    -fx-background-color: #13526B; /* Cor de fundo do botão */
    -fx-text-fill: #FFFFFF; /* Cor do texto no botão */
    -fx-background-radius: 50em; /* Torna o botão redondo */
    -fx-min-width: 50px; /* Largura mínima igual à altura para torná-lo redondo */
    -fx-min-height: 50px; /* Altura mínima igual à largura para torná-lo redondo */
    -fx-font-size: 20px; /* Tamanho da fonte */
    -fx-font-weight: bold; /* Define a fonte em negrito */
}

.botao-redondo:hover {
    -fx-background-color: #163B49; /* Cor de fundo alterada no hover */
}

